    <div class="clearFloat"></div>
    <h1>Frizerski salon - administratorski vmesnik</h1>
    <a href="dashboard">Domov</a>
    <a href="termini">Pregled terminov</a>
    <a href="delovniki">Rezervacija delovnikov</a>
    <a href="storitve">Upravljanje storitev</a>
    <hr/><br>