    <div class="float">

    </div>
    <div class="clearFloat"></div>
    <h1 id="title">Frizerski salon - administratorski vmesnik</h1>
    <a href="dashboard">Domov</a>
    <a href="delovniki">Rezervacija delovnika</a>
    <a href="storitve">Upravljanje storitev</a>
    <a href="termini">Pregled terminov</a>
    <hr/><br>