<nav class="navbar navbar-expand bg-primary mb-4">
  <div class="container d-flex justify-content-start">

    <!-- Brand -->
    <div class="navbar-brand brand-icon">Frizerski salon - administratorski vmesnik</div>

    <!-- Desktop links -->
    <div class="navbar-nav">
      <a class="nav-link" href="/dashboard">Domov</a>
      <a class="nav-link" href="/termini">Pregled terminov</a>
      <a class="nav-link" href="/delovniki">Rezervacija delovnikov</a>
      <a class="nav-link" href="/storitve">Upravljanje storitev</a>
    </div>

  </div>
</nav>
