<!DOCTYPE html>
<html lang="sl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Prijava</title>
    <link rel="stylesheet" href="/stylesheets/stil.css">
</head>
<body>

<h2>Prijava frizerja</h2>

<form id="loginForm">
    <label for="username">Uporabniško ime:</label><br>
    <input type="text" id="username" placeholder="Vnesi uporabniško ime" required><br><br>
    <label for="password">Geslo:</label><br>
    <input type="password" id="password" placeholder="Vnesi geslo (min 8 znakov)" required><br><br>
    <button type="submit">Prijava</button>
</form>

<script type="module" src="/javascripts/login.js"></script>

<p style="margin-top: 1rem;">
    Še nimaš računa?
    <a href="/signup">Registriraj se</a>
</p>

</body>
</html>
