<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Upravljanje storitev</title>
    <link rel="stylesheet" href="/stylesheets/stil.css">
</head>
<body>

<h1>Upravljanje storitev</h1>

<ul id="storitveSeznam"></ul>

<script type="module" src="/javascripts/storitve.js"></script>
</body>
</html>
