<!DOCTYPE html>
<html lang="sl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Pregled terminov</title>
    <link rel="stylesheet" href="/stylesheets/stil.css">
</head>
<body>
    <%- include('partials/meni') %>

    <h1>Pregled terminov</h1>

    <form id="terminiForm">
        <label for="dan">Dan:</label><br>
        <input type="date" id="dan" required><br><br>

        <button type="submit">Preglej</button>
    </form><br>

    <ul id="terminiSeznam"></ul>

    <script type="module" src="/javascripts/termini.js"></script>
</body>
</html>